:root {
    --background: #EBEBEB;
    --darkblue: #21272b;
    --lightoblue: #758a97;
    --box: #21272bc9;
    --lightblue: #1bb4e8;
    --ocher: #ffae00;
    --footer: #CBCFD3;
    --pagefont: 'Open Sans', sans-serif;
}

table {
    font-size: small;
}

tr, th, td {
    padding: 3px;
    border-bottom: 1px solid var(--lightoblue);
}

.not_seen {
    font-weight: bold;
}